<h1>API EXAMPLES</h1>

<h2>All Bikes</h2>
<strong>URL/BIKES/{:TOKEN}</strong>
<pre>https://bikeshare-436.herokuapp.com/api/v1/bikes/oeVOk0LVWRgDMV1vq1SZ</pre>

<h2>Available Bikes</h2>
<strong>URL/BIKES/AVAILABLE/{:TOKEN}</strong>
<pre>https://bikeshare-436.herokuapp.com/api/v1/bikes/available/oeVOk0LVWRgDMV1vq1SZ</pre>

<h2>Nearby Bikes</h2>
<strong>URL/BIKES/NEAR/{:TOKEN}/{:LATITUDE}/{LONGITUDE}/{:DISTANCE}</strong>
<pre>https://bikeshare-436.herokuapp.com/api/v1/bikes/near/oeVOk0LVWRgDMV1vq1SZ/39.7733799/-86.17543/.5</pre>

<h2>Search Bikes</h2>
<strong>URL/BIKES/{:TOKEN}/{:BIKE_CODE}</strong>
<pre>https://bikeshare-436.herokuapp.com/api/v1/bikes/oeVOk0LVWRgDMV1vq1SZ/1254</pre>

<h2>All Rides from User</h2>
<strong>URL/RIDES/{:TOKEN}</strong>
<pre>https://bikeshare-436.herokuapp.com/api/v1/rides/oeVOk0LVWRgDMV1vq1SZ</pre>

<h2>Search Rides</h2>
<strong>URL/RIDES/{:TOKEN}/{:ID}</strong>
<pre>https://bikeshare-436.herokuapp.com/api/v1/rides/oeVOk0LVWRgDMV1vq1SZ/1</pre>
